@page
@{
    ViewData["Title"] = "Privacy Policy";

    // Không muốn sử dụng layout mặc định
    Layout = "_PostLayout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Post/style.css">
}
<h1>Đây là Post 2</h1>