@page
<h1>Trang category</h1>
<a href="/Index">Trang Index</a>
<br>
<a asp-page="Privacy" asp-area="">Không thể về lại các trang cshtml nằm ở Pages</a>
<br>
<a href="/Privacy">Nhưng dùng href thì được</a>