h1 {
    color: red;
    font-size: 25px;
}

.content {
    display: flex;
}

.content .menu {
    display: flex;
    background: green;
    height: 100px;
    flex: 1;
    align-self: center;
    text-align: center;
}

.content .menu span {
    margin: auto;
}

.content .body {
    text-align: center;
    flex: 3;
}