@page "/can-xac-thuc-email-dang-ky.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực email";
}

@* Trang này sẽ được hiển thị khi người dùng nhấn nút đăng kí và đợi người dùng xác thực email *@
<h1>@ViewData["Title"]</h1>
<p> Bạn cần truy cập vào email để biết cách xác thực tài khoản</p>
