@* Không có chỉ thị @page *@
@using AspComponentView.Models
@model Product
<div class="card my-4" style="width: 20rem">
    <h2 class="card-header text-info">Tên sản phẩm: @Model.Name</h2>
    <div class="card-body">
        <p class="card-text">Thông tin tóm tắt về sản phẩm: @Model.Description</p>
        <p>Giá: @Model.Price</p>
        <a href="#!" class="btn btn-danger btn-sm">Đặt hàng</a>
    </div>
</div>