@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a asp-page="Index" class="btn btn-success">Truy cập trang index</a>
<a asp-page="/Category/Index" class="btn btn-success">Truy cập trang category</a>