@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Trang dịch vụ</h1>
<a href="/DichVu/service1">Đi đến dịch vụ 1</a>
@* Sử dụng AnchorTag helper cho thẻ a *@
<hr/>
<a asp-page="DichVu1">Đi đến trang dịch vụ 1 bằng tag helper</a>
<hr/>
<a asp-page="/NewProduct" asp-area="Product">Đi đến trang sản phẩm mới</a>